* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myCal {
  width: 350px;
  height: 150px;
  background-color: dimgray;
  padding: 25px;
}

.output {
  line-height: 40px;
  background-color: white;
  color: black;
  height: 40px;
  margin-bottom: 10px;
  font-size: 1.4em;
  text-align: right;
  font-family: monospace;
  padding: 0 8px;
}

input {
  height: 40px;
}

.btn {
  width: 80px;
  height: 40px;
  padding: 5px;
  margin: 3px;
  background-color: azure;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  vertical-align: middle;
}
