* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  margin: 10px 20px;
}

button {
  padding: 20px 25px;
  background-color: #1111e3;
  border: none;
  border-radius: 15px;
  margin: 10px 20px;
  color: white;
}
